*{
  box-sizing: border-box;
  }
  body{
    margin: 0;
    font-family: sans-serif;
  }

  nav{
    color: #212121;
    display: flex;
    height: 90px;
    align-items: center;
    padding: 30px 25px;
    border-bottom:2px solid black;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }

  .dark{
    background-color: #212121;
  }

  .toggler{
    display: flex;
    align-items: center;
  }
  nav img{
    height: 30px;
    margin-right: 7px;
  }
  nav h3{
    color: #61daf8;
    margin-right: auto;

  }

  .toggler-slider{
    height: 13px;
    width: 25px;
    background-color: #212121;
    cursor: pointer;
    display: flex;
    margin-inline: 7px;
    border:1px solid #212121;
    border-radius: 1.2rem;
    box-sizing: content-box;
  }

   nav.dark .toggler-slider{
    height: 13px;
    width: 25px;
    background-color: white;
    cursor: pointer;
    justify-content: flex-end;
    display: flex;
    margin-inline: 7px;
    border:1px solid white !important;
    border-radius: 1.2rem;
    box-sizing: content-box;
  }
  .slider--circle{
    height: 13px !important;
    width: 13px;
    background-color: white;
    border-radius: 50%;

  }
nav.dark .slider--circle{
  background-color: #212121;
 border:1px solid #212121

  }
  .lighttext{
    color:#2B283A !important;
    font-weight: 600;
    font-size: .65rem !important;
  } 
   .dark .lighttext{
    color:#7b7f81 !important;
    font-weight: 600;
    font-size: .65rem !important;
  }  
  .dark .darktext{
    color:#deebf8 !important;
    font-weight: 600;
    font-size: .65rem !important;
  }  .darktext{
    color:#babdc0 !important;
    font-weight: 600;
    font-size: .65rem !important;
  } 

  main{
    padding: 57px 27px;
  }
  .dark h1, .dark li{
    color:#deebf8
  }
  main h1{
    margin: 0;
    font-weight: 700;
  }

  /* padding-block allows for padding top and bottom only*/
  .facts li{
    padding-block: 10px;
    font-weight: 500;
  }

    .facts li::marker{
      font-size: 1.3rem;
      color:#61daf8;
    }
