.navbar {
  box-sizing: border-box;
  height: 70px;
  display: flex;
  align-content: center;
  color:red;  
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  padding: 5px 0;
  margin-bottom: 10px;
}
.img_icon {
padding: 20px; 
}

.Hero_main {
display:flex;
flex-direction: column;
max-width: 400px;
padding-top: 20px;
align-self: center;
}
.Hero_Heading {
  margin-bottom: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Hero_body {
  font-size: 18px;
}
.althlete1 {
  display: block;
 min-width: 100px;
  max-height: 80px;
}

.flexx {
  display : flex;
  flex-flow: nowrap;
}
.Flex_star{
  display: flex;
  flex-wrap: nowrap;
  margin: 5px 0;
}
.star {
  height: 15px;
}
.List_flex{
  
 border: blue 1px solid;
border-radius: 5px;
width: auto;
margin: 5px;
padding: 10px;
}

.sec{
  display: flex;
  
}