body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
}

.main-section {
    color: aliceblue;
    flex: 1;
    padding: 1rem;
    background-color: rgb(79 68 79)
}

section {
    padding: 2rem 1rem;
}
